.itemCard {
  width: 300px;
  height: 70px;
  background-color: sandybrown;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.Odd {
  background-color: blue;
}

.compo {
  background-color: green;
  text-decoration: line-through;
}

.items-id {
  .item-id {
    display: none;
  }
  &:hover {
    .item-id {
      display: block;
      cursor: pointer;
    }
  }
}
