<p>first-file works!</p>
<div class="itemsHolder">
  @for (item of newTodoData; track item.name ) {
  <!--  -->
  @if(item.isCompleted === true){
  <div class="completedItem">
    <p>{{ item.name }}</p>
    <p>{{ item.id }}</p>
    <button (click)="deleteItem(item.id)">delete</button>
    <button (click)="saveToFavo(item)">save</button>
  </div>
  }@else {
  <p>{{ item.name }}</p>
  <p>{{ item.id }}</p>
  <button (click)="deleteItem(item.id)">delete</button>
  <button (click)="saveToFavo(item)">save</button>
  } } @empty {
  <p>There are no items.</p>
  }
</div>
