<p>first-file works!</p>
<div class="itemsHolder">
  @for (item of newTodoData; track item.id ) {
  <div class="itemCard" [class.compo]="item.isCompleted">
    <p>{{ item.id }} , {{ item.name }}</p>
    <div style="display: flex; flex-direction: column; gap: 5px">
      <button (click)="completed(item)">
        {{ item.isCompleted ? "done" : "not done" }}
      </button>
      <button (click)="deleteItem(item.id)">delete</button>
    </div>
  </div>
  } @empty {
  <p>There are no items.</p>
  }
</div>
