.itemsHolder {
  color: white;
  font-size: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #808080;
  height: 500px;
  gap: 5px;
  padding-top: 5px;

  .itemCard {
    width: 100%;
    height: 70px;
    background-color: sandybrown;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .compo {
    background-color: green;
  }
}
